@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #eee;
	background-image: url('$lib/assets/background-gradient.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: -200px;
}
